:root{
    --st-color:hsl(31, 77%, 52%);
    --sc-color:hsl(184, 100%, 22%);
    --en-color:hsl(179, 100%, 13%);
}
/* @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap'); */
body{
    width: 98%;
    height: 98%;
    background-color: white;
    /* z-index: -1; */
}
.container{
    width: 741px;
    height: 400px;
    /*background-color: aquamarine;
    */margin: auto;
    margin-top: 200px;
    display: flex;
    border: 0px solid transparent;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.first{
    width: calc( 100% / 3);
    background-color: var(--st-color);
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.second{
    width: calc( 100% / 3);
    background-color: var(--sc-color);
    height: 100%;
}
.third{
    width: calc( 100% / 3);
    background-color: var(--en-color);
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
h2{
    color:  hsl(0, 0%, 95%);
    font-family:'Big Shoulders Display' , monospace;
    text-transform: uppercase;
    font-size: 30px;
}
.first , .second , .third{
    padding: 30px 15px 5px 30px;
    
}
p{
    font-size: 12px;
    color:  hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca';
    margin-top: 20px;
    letter-spacing: 1px;
    line-height: 20px;
}
button{
    background-color: #fff;
    padding: 10px;
    font-family: 'Lexend Deca';
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border: 1px solid whitesmoke;
    margin-top: 70px;
}

.st{
    color: var(--st-color);

}
.sc{
    color: var(--sc-color);
}
.en{
    color: var(--en-color);
}
.st:hover , .sc:hover , .en:hover{
    cursor: pointer;
    background-color: transparent;
    color: white;
}